body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    text-align: center;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

/* Style for circular button */
#circleButton {
    width: 60px;
    height: 60px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    /* Centered below the "Calculate Area" button */
    transition: all 0.5s ease;
}

#circleButton:hover {
    background-color: #218838;
}

/* Icon styles */
.sun,
.moon {
    font-size: 30px;
    color: white;
}
